{include file="common/header"/}
<div class="fadeInUp animated openalert"><br>
    <div class="layui-anim layui-anim-up">
        <form class="layui-form">
           <input type="hidden" name="adminid" value="{:input('get.id')}">
            <div class="layui-container">
                <div class="layui-row">
                    <div class="layui-form-item">
                      <label class="layui-form-label">所属用户组</label>
                      <div class="layui-input-4">
                          <select name="group_id" lay-verify="required">
                            {volist name="group" id="vo"}
                                {if condition="$vo.group_id eq $info.group_id"}
                                    <option value="{$vo.group_id}" selected>{$vo.title}</option>
                                {else /}
                                    <option value="{$vo.group_id}">{$vo.title}</option>
                                {/if}    
                            {/volist}
        
                          </select>
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">用户名</label>
                      <div class="layui-input-4">
                        <input type="text" name="username" autocomplete="off" placeholder="请输入用户名" class="layui-input" lay-verify="required" value="{$info.username}">
                      </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">头像</label>
                        <input type="hidden" name="avatar" id="avatar" value="{$info.avatar}">
                        <div class="layui-input-block">
                            <div class="layui-upload">
                                <button type="button" class="layui-btn layui-btns layui-btn-blue" id="adBtn"><i class="layui-icon" style="color: #fff">&#xe67c;</i>点击上传</button>
                                <div class="layui-upload-list">
                                    <img class="layui-upload-img" id="adPic" width="80" height="80" src="__PUBLIC__{$info.avatar}" style="border-radius: 50%;">
                                    <p id="demoText"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item" style="display: none;" id="jin">
                      <label class="layui-form-label"></label>
                      <div class="layui-input-4" style="width:140px;">
                          <div class="layui-progress layui-progress-big" lay-showPercent="yes" lay-filter="progressBar">
                              <div class="layui-progress-bar layui-btn-blue" lay-percent="0%"></div>
                          </div>
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">邮箱</label>
                      <div class="layui-input-4">
                        <input type="text" name="email" autocomplete="off" placeholder="请输入邮箱" class="layui-input" value="{$info.email}">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <label class="layui-form-label">手机号</label>
                      <div class="layui-input-4">
                        <input type="text" name="tel" autocomplete="off" placeholder="请输入手机号" class="layui-input" value="{$info.tel}">
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <div class="layui-input-block">
                        <button type="submit" class="layui-btn layui-btns layui-btn-blue" lay-submit="" lay-filter="edit">编辑</button>
                        <button type="reset" class="layui-btn  layui-btns layui-btn-primary">重置</button>
                      </div>
                    </div>
              </div>
            </div>
        </form>
    </div>   
</div> 
{include file="common/footer"/}
<script>
var url = '{:url("adminedit")}';
layui.use(['form','layer','upload','element'], function(){
    var form = layui.form
    ,layer = layui.layer
    ,upload = layui.upload
    ,element = layui.element
    ,$ = layui.jquery;

    //监听提交
    form.on('submit(edit)', function(data){
      $.post(url,data.field,function(res){
          if(res.code == 1){
            layer.msg(res.msg);
              setTimeout(function(){
                  window.parent.location.reload();//修改成功后刷新父界面
            }, 1000);
          }else{
            layer.msg(res.msg); 
          }
      },'json')
        return false;
    }); 
    //普通图片上传
    var uploadInst = upload.render({
          elem: '#adBtn'
          ,url: '{:url("Upfiles/upimages")}'
          ,before: function(obj){
              //预读本地文件示例，不支持ie8
              this.data={files:'admin'};//关键代码
          }
          ,progress: function(e , percent) {
              $("#jin").show();
              element.progress('progressBar',percent  + '%');
          }
          ,done: function(res){
              if(res.code>0){
                  $('#adPic').show();
                  $('#adPic').attr('src', '__PUBLIC__'+res.src);
                  $("#adPic").css({"width":80+"px","height":80+"px"});
                  $('#avatar').val(res.src);
              }else{
                  //如果上传失败
                  $("#jin").hide();
                  layer.msg('上传失败');
                  return false;
              }
          }
          ,error: function(){
              $("#jin").hide();
              layer.msg('上传失败');
              return false;
          }
    });
});
</script>
