{include file="common/header"/}
<div class="fadeInUp animated headalert" style="padding-right: 20px"><br>
    <div class="layui-anim layui-anim-up">
        <form class="layui-form">
            <div class="layui-container">
                <div class="layui-row">
                    <div class="layui-form-item">
                      <label class="layui-form-label">私信内容</label>
                      <div class="layui-input-4">
                          <!-- 加载编辑器的容器 -->
                          <textarea name="content"  placeholder="请输入私信内容" class="layui-textarea"></textarea>
                         <!-- <script id="container" name="content" type="text/plain">
                          </script>-->
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <div class="layui-input-block">
                        <button type="submit" class="layui-btn layui-btns layui-btn-blue" lay-submit="" lay-filter="letteradd">添加</button>
                        <button type="reset" class="layui-btn layui-btns layui-btn-primary">重置</button>
                      </div>
                    </div>
              </div>
            </div>
        </form>
    </div>
</div>
{include file="common/footer"/}
<!--<script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/ueditor/ueditor.all.js"></script>
<script type="text/javascript" src="__STATIC__/ueditor/ueditor.parse.js"></script>-->
<script type="text/javascript">
/*window.onload=function(){
    UE.getEditor('container',{
        toolbars: [
            [
                'fullscreen', 'source', 'undo', 'redo', 'bold', 'italic', 'underline', 'fontborder', 'strikethrough', 'superscript',
                'subscript', 'removeformat', 'formatmatch', 'autotypeset', 'blockquote', 'pasteplain', '|', 'forecolor',
                'backcolor', 'insertorderedlist', 'insertunorderedlist', 'selectall', 'cleardoc',
                'date','time','insertcode','fontfamily',
            ]
        ],
        initialFrameHeight:350,
        elementPathEnabled : false,
        wordCount: false ,
        allowDivTransToP:true,
    });
}*/
var url = '{:url("letteradd")}';
layui.use(['form','layer'], function(){
    var form = layui.form
    ,layer = layui.layer
    ,$ = layui.jquery;

    form.on('submit(letteradd)', function(data){
      $.post(url,data.field,function(res){
          if(res.code == 1){
              layer.msg(res.msg);
              setTimeout(function(){
                  window.parent.location.reload();//修改成功后刷新父界面
              }, 1000);
          }else{
            layer.msg(res.msg);
          }
      },'json')
        return false;
    });
});
</script>
